*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  background: white;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1130px;
  margin: 0 auto;
}

.row {
  display: flex;
  align-items: center;
  height: 30px;
}

.row:nth-child(odd) {
  position: relative;
}

.row:nth-child(odd)::after {
  position: absolute;
  top: 0;
  left: -10px;
  bottom: 0;
  width: calc(100% + 20px);
  background-color: #F4F2EE;
  z-index: -1;
  pointer-events: none;
  content: '';
}