*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  background: white;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  color: #3F78D4;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0.5em 0.9em;
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-size: 14px;
  color: #FFFFFF;
  cursor: pointer;
}

.btn-like {
  border: 2px solid #FF9F9F;
}

.btn-buy {
  background-color: #009900;
}

.app {
  padding-top: 52px;
}

.container {
  max-width: 1130px;
  margin: 0 auto;
}

.overflow-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
